<div class="swag-data-header">
  <div class="data-screen-name">Name</div>
  <div class="data-score">{{category.value_name}}</div>
  <div class="data-date">Date</div>
</div>
<div id="swag-data">
  {{#if scores.length }}
    {{#each scores}}
      <div>
        <div class="data-screen-name">{{screen_name}}</div>
        <div class="data-score">{{value}}</div>
        <div class="data-date">{{date_created}}</div>
      </div>
    {{/each}}
  {{else}}
    <div class="data-empty">No scores for found for this period</data>
  {{/if}}
</div>
