{{#if context.totalDailyScores.value}}
  <div><b>Today's best score:</b> {{context.dailyBest.value}}</div>
  <div><b>Your Best Score Ever:</b> {{context.allTimeBest.value}}</div>
  {{#if context.scorePosition.value}}
    <div>You placed #{{context.scorePosition.value}} out of {{context.totalDailyScores.value}} scores today</div>
  {{else}}
    <div>Not yet placed</div>
  {{/if}}
{{else}}
<div>No scores yet today</div>
{{/if}}
