{{#if context.totalScores.value}}
  {{#if context.scorePosition.value}}
    <div><b>Best score today:</b> {{context.dailyBest.value}}</div>
    <div>You placed #{{context.scorePosition.value}} out of {{context.totalScores.value}} scores today</div>
  {{else}}
    <div>No scores today</div>
  {{/if}}
{{else}}
  <div>No scores posted for this game</div>
{{/if}}
